.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: var(--accentColor);
  padding: 2vmax;
  border-radius: 0.5vmax;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 0.2vmax var(--primColor) solid;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
}
.modalOpened {
  opacity: 1;
  transform: scale(1);
}
.close {
  position: absolute;
  top: 0.5vmax;
  right: 0.5vmax;
  cursor: pointer;
  filter: var(--primFilter);
  height: 2vmax;
  width: 2vmax;
  transition: all 0.2s ease-in-out;
}
.close:hover {
  transform: rotate(90deg);
}
.title,
.message {
  color: var(--primColor);
  margin: 0.5vmax 0;
  text-align: center;
}
.title {
  font-size: 1.2vmax;
  font-style: italic;
  opacity: 0.8;
  align-self: flex-start;
}
.message {
  font-size: 1.4vmax;
}

.buttonsContainer {
  margin-top: 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.buttonsContainer button {
  font-size: 1.4vmax;
  min-width: 20%;
  cursor: pointer;
  margin: 0 1vmax;
  border-radius: 0.3vmax;
  padding: 0.15vmax 2vmax;
  color: var(--primColor);
  border: 0.15vmax var(--primColor) solid;
  box-shadow: rgba(85, 85, 85, 0.437) 2px 2px 3px;
  transition: all 0.2s ease-in-out;
}

.buttonsContainer button:hover {
  transform: scale(1.02);
  box-shadow: rgba(85, 85, 85, 0.697) 4px 4px 6px;
}
.noButton {
  background-color: transparent;
}
.yesButton {
  background-color: var(--primColor);
  color: var(--oppositColor) !important;
}
