:root {
  /* Dark theme */
  --bg: url("/images/bg-dark.svg");
  --text: #ffffff;
  --primColor: #000;
  --accentColor: rgb(255, 239, 135);
  --lighterBorder: #c0c0c0;
  --lightBorder: #686868;
  --darkBorder: #333333;
  --oppositColor: #fff;
  --primFilter: invert(0%) sepia(1%) saturate(7481%) hue-rotate(337deg)
    brightness(300%) contrast(100%);
  --accentFilter: invert(100%) sepia(100%) saturate(1%) hue-rotate(20deg)
    brightness(100%) contrast(101%);
}

/* Light theme */
[data-theme="light"] {
  --bg: url("/images/bg-light.svg");
  --text: #111111;
  --primColor: #fffffff4;
  --accentColor: rgb(31, 81, 174);
  --lighterBorder: #f0f0f0;
  --lightBorder: #b0b0b0;
  --darkBorder: #666666;
  --oppositColor: #151515;
  --primFilter: invert(100%) sepia(100%) saturate(1%) hue-rotate(20deg)
    brightness(100%) contrast(101%);
  --accentFilter: invert(0%) sepia(1%) saturate(7481%) hue-rotate(337deg)
    brightness(300%) contrast(100%);
}
