.container {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 10% 25%;
  height: 100%;
  width: 100%;
  place-items: center;
}

/* .imageContainerZoomed {
  top: 10%;
  left: 10%;
  position: fixed;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primColor);
  z-index: 30;
  transition: all 0.2s ease-in-out;
  border-radius: 1vmax;
  border: 0.2vmax var(--oppositColor) solid;
  overflow: hidden;
  opacity: 1;
}
.imageContainerNotZoomed {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  top: 70%;
  left: 70%;
  position: fixed;
  height: 10%;
  width: 10%;
} */

.imageContainerZoomed {
  top: 0%;
  left: 0%;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  z-index: 30;
  transition: all 0.2s ease-in-out;
  border-radius: 0vmax;
  overflow: hidden;
  opacity: 1;
}
.imageContainerNotZoomed {
  transition: none;
  opacity: 0;
  top: 80%;
  left: 80%;
  position: fixed;
  height: 10%;
  width: 10%;
}
.overlay {
  position: relative;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2vmax var(--oppositColor) solid;
  border-radius: 0.5vmax;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.imageContainerNotZoomed .overlay {
  opacity: 0;
  border: none;
}

.zoomedImage {
  height: 100%;
  width: 100%;
}

.close {
  position: absolute;
  height: 2vmax;
  width: 2vmax;
  top: 2%;
  right: 2%;
  border-radius: 50%;
  padding: 0.13vmax;
  cursor: pointer;
  background-color: #fff;
  border: 0.2vmax #000 solid;
}

.imageContainer {
  position: relative;
  height: 95%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15vmax var(--oppositColor) solid;
  border-radius: 0.6vmax;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.imageContainer img {
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.zoomElement {
  position: absolute;
  height: 3vmax;
  width: 3vmax;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--primColor);
  padding: 0.75vmax;
  border-radius: 0.3vmax;
}
.zoomElement img {
  opacity: 1;
  filter: var(--primFilter);
}

.imageContainer:hover .zoomElement {
  height: 4vmax;
  width: 4vmax;
  z-index: 1;
  opacity: 0.8;
}

.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 1vmax;
  margin: 0 1vmax;
}

.arrow {
  height: 1.3vmax;
  width: 1.3vmax;
  cursor: pointer;
  filter: var(--primFilter);
}

.rightArrow {
  transform: rotate(180deg);
}

.invalid_image {
  filter: var(--accentFilter);
  height: 50% !important;
  width: 50% !important;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button img {
  height: 1.3vmax;
  width: 1.3vmax;
}
.button span {
  color: #fff;
}
.button {
  position: relative;
  opacity: 0.8;
  background-color: var(--primColor);
  border-radius: 0.3vmax;
  padding: 0.13vmax 1.75vmax;
  border-color: var(--oppositColor);
}

.button:hover {
  opacity: 1;
  border-color: var(--oppositColor);
}
.publicUrl {
  background-color: #001746;
}
.publicRepo {
  /* background-color: #230046; */
  background-color: darkgreen;
}
.privateUrl,
.privateRepo {
  background-color: #8d8d8d;
  opacity: 0.8;
  cursor: not-allowed;
}
.privateUrl:hover,
.privateRepo:hover {
  opacity: 0.8;
}
.privateUrl span,
.privateRepo span {
  color: #b5b5b5;
}
.privateUrl img,
.privateRepo img {
  opacity: 0.8;
}
.privateRepo {
  background-color: #535353;
}
.privateRepo::after {
  content: "Private";
  display: block;
  position: absolute;
  top: 15%;
  left: 15%;
  background-color: #c00000;
  color: #fff;
  font-size: 0.9vmax;
  opacity: 1;
  padding: 0vmax 1vmax;
  border-radius: 0.2vmax;
  box-shadow: var(--darkBorder) 2px 2px 3px;
  transform: rotate(5deg);
}

/* ==========================================         -----        =================================== */
/* ==========================================         PHONE        =================================== */
/* ==========================================         -----        =================================== */

@media (max-width: 750px) {
  .container {
    grid-template-columns: 80% 20%;
    grid-template-rows: 80% 20%;
    padding: 1vmax 0.25vmax;
  }

  .imageContainerZoomed {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .imageContainerNotZoomed {
    top: 50%;
    left: 50%;
  }

  .overlay {
    position: relative;
    height: 35%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2vmax var(--oppositColor) solid;
    border-radius: 0.5vmax;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }
  .close {
    position: absolute;
    height: 3vmax;
    width: 3vmax;
    top: 2%;
    right: 2%;
    border-radius: 50%;
    padding: 0.13vmax;
    cursor: pointer;
    background-color: #fff;
    border: 0.2vmax #000 solid;
  }

  .invalid_image {
    height: 30% !important;
    width: 30% !important;
  }

  .imageContainer {
    height: 100%;
    width: 80%;
    border-radius: 0.5vmax;
  }

  .imageContainer:hover .zoomElement {
    height: 5vmax;
    width: 5vmax;
  }

  .switcher {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    place-items: center;
    width: 100%;
  }

  .counter {
    font-size: 2vmax;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 1.5vmax;
  }

  .arrow {
    height: 3vmax;
    width: 3vmax;
    cursor: pointer;
    filter: var(--primFilter);
  }

  .buttonsContainer {
    margin-top: 1.5vmax;
    width: 70%;
  }

  .button img {
    height: 1.8vmax;
    width: 1.8vmax;
  }
  .button span {
    font-size: 1.7vmax;
  }
  .button {
    opacity: 1;
  }

  .privateRepo::after {
    font-size: 1.25vmax;
  }
}
