.container {
  position: relative;
  height: 90vh;
  width: 90vw;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 35% 38% 12% 15%;
}

/* ==========================================         -----        =================================== */
/* ==========================================         PHONE        =================================== */
/* ==========================================         -----        =================================== */
@media (max-width: 750px) {
  .container {
    padding-top: 10vmax;
    margin-bottom: 20dvh;
    min-height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    justify-items: center;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
