.trigger {
  cursor: pointer;
  filter: var(--accentFilter);
}

.textAreaTrigger {
  align-self: flex-start;
}

/* overlay covers full screen */
.dialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 10;
}

/* WRAPPER = handles fixed centering */
.dialogWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vmax;
  max-width: 90vw;
  z-index: 20;
  background-color: var(--primColor);
}

/* CONTENT = actual dialog box */
.dialogContent {
  position: relative; /* so closeBtn absolute works */
  /* background: rgb(228, 228, 228); */
  background-color: var(--primColor);
  border: 0.2vmax var(--oppositColor) solid;
  border-radius: 0.4vmax;
  padding: 1rem;
  width: 100%; /* inherit wrapper width */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.title {
  color: var(--primColor);
  color: var(--accentColor);
  opacity: 0.7;
  font-size: 1.5vmax;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0.5rem;
}

/* CLOSE BUTTON = absolute top-right */
.closeBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 1.5vmax;
  width: 1.5vmax;
  cursor: pointer;
  filter: var(--accentFilter);
}

.buttonCssClass {
  border: 0.15vmax var(--oppositColor) solid;
  background-color: var(--primColor);
  margin: 0;
}
.buttonCssClass:hover {
  border: 0.15vmax var(--accentColor) solid;
}

.buttonCssClass img {
  height: 1.15vmax;
  width: 1.15vmax;
  filter: var(--primFilter);
}
